.social{
    margin-left: 40%
} 
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	/* display: flex; */
	background: url('/img/background1.jpg') no-repeat center fixed; background-size: cover;
	/* min-height: 100vh; */
	/* align-items: center;
	justify-content: center; */
}
.socialMedia-buttons{
	margin-top: 10%;
}
button{
	border-radius: 50%;
}
.social-button{
    background-color: white;
    color: white;
    text-align: center;
    display: inline-block;
}
.vertical-line{
	border-left: 2px white solid ;
	height: 10vh;
	margin-left: 16.5%;
}
.content {
	position: relative;
    margin-left: 17%;
    margin-top: 5%;
}

.content h2 {
	color: #fff;
	font-size: 4em;
	position: absolute;
	transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px white;
}

.content h2:nth-child(2) {
	color: white;
	animation: animate 4s ease-in-out infinite;
}
.guestbtn{
	width: 12%;
	height: 7vh;
	margin-top: 10%;
	margin-left: 44%;
	color: white;
	background-color: darkcyan;
	border-radius: 20%;
}
.guestbtn:hover{
	background-color: white;
	color: black;
}
@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}
